// --------------------------------------------------
// GLOBAL VARIABLES
// --------------------------------------------------

// ******** Colors ********
$primary-color-purple: #421eb7;
$light-purple: #f2e9ff;
$lightest-purple: #fbf8ff;
$dark-grey: #00160a;
$grey: #242425;
$light-grey: #fbf8ff;
$lightest-grey: #e5e5e5;

// ******** Screen Sizes ********
$screen-xs: 480px; // Extra small screen
$screen-sm: 768px; // Small screen
$screen-md: 992px; // Medium screen
$screen-lg: 1200px; // Large screen
$screen-xl: 1600px; // Extra large
